{% extends 'main.html' %}

{% block content %}
<style>
.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

</style>

<div class="center-column">
    <div>
    {% if game.completo == True %}

    <strike><h2>{{game}}</h2></strike> 
    {% else %}

    <h2>{{game}}</h2>
    {% endif %}

    </div>
    

    <div>
        <label><h3>Resenha:</h3></label> 
        <p>{{game.resenha}}</p>
    </div>
    
    
</div>

{% endblock content %}